<div class="span-24 last" style="margin-top: 200px;">
</div>

<div class="span-6 append-1">
	<div class="little_box">
	<h3 style="color: #ffffff;">What we do</h3>
	Using the latest in web standards and Ruby on Rails we
	Using the latest in web standards and Ruby on Rails we
	Using the latest in web standards and Ruby on Rails we
	
	</div>
</div>
<div class="span-5 append-1">
	<%= image_tag 'icon_graph.gif'%>
	<div style="margin-top: 10px;"></div>
	<h3>What we do</h3>
	Using the latest in web standards and Ruby on Rails we
</div>
<div class="span-5 append-1">
	<%= image_tag 'icon_time.gif'%>
	<div style="margin-top: 10px;"></div>
	<h3>What we do</h3>
	Using the latest in web standards and Ruby on Rails we
</div>
<div class="span-5 last">
	<%= image_tag 'icon_user.gif'%>
	<div style="margin-top: 10px;"></div>
	<h3>What we do</h3>
	Using the latest in web standards and Ruby on Rails we
</div>


	<div class="span-24 last" style="margin-top: 40px;">
	</div>

<div class="span-6 append-1">
	<h2>What we do</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	<div class="prepend-top">
		<%= image_tag 'featured_site.png'%>
	</div>
</div>

<div class="span-6 append-1">
	<h2>Why we do it</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
</div>
	
<div class="span-9 prepend-1 last">
	<%= image_tag 'laptop_screenie.png'%>
	<h2>Rapid prototyping</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
  
	<div class="prepend-top"></div>
	<h2>Rapid prototyping</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
</div>
<hr>
<div class="span-24 last">
	<%= image_tag 'mark.jpg'%>
	<h3>Mark Turner</h3>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we<br />
	<%= image_tag 'josh.jpg'%>
	<h3>Mark Turner</h3>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
</div>