<div class="span-24 last" style="margin-top: 200px;">
</div>

<div class="span-6 append-1">
	<div class="little_box">
	<h3 style="color: #ffffff;">What we do</h3>
	Using the latest in web standards and Ruby on Rails we
	Using the latest in web standards and Ruby on Rails we
	Using the latest in web standards and Ruby on Rails we
	
	</div>
</div>
<div class="span-5 append-1">
	<%= image_tag 'icon_graph.gif'%>
	<div style="margin-top: 10px;"></div>
	<h3>What we do</h3>
	Using the latest in web standards and Ruby on Rails we
</div>
<div class="span-5 append-1">
	<%= image_tag 'icon_time.gif'%>
	<div style="margin-top: 10px;"></div>
	<h3>What we do</h3>
	Using the latest in web standards and Ruby on Rails we
</div>
<div class="span-5 last">
	<%= image_tag 'icon_user.gif'%>
	<div style="margin-top: 10px;"></div>
	<h3>What we do</h3>
	Using the latest in web standards and Ruby on Rails we
</div>


	<div class="span-24 last" style="margin-top: 40px;">
	</div>

<div class="span-6 append-1">
	<h2>We do web apps</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	<div class="prepend-top">
		<%= image_tag 'featured_site.png'%>
	</div>
</div>

<div class="span-6 append-1">
	<h2>Because we love it</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
</div>
	
<div class="span-9 prepend-1 last">
	<%= image_tag 'laptop_screenie.png'%>
	<h2>Design</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
  
	<div class="prepend-top"></div>
	<h2>Development</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	
</div>
<div class="span-24 last">
	<div class="prepend-top"></div>
</div>
<hr>
<div class="span-24 last">
	<h2>Services</h2>
</div>
<div class="span-8 append-1">
	<h3 "style=color:red;">Idea to launch</h3>
	web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on R
	<br />
</div>
<div class="span-7 append-1">
	<h3 "style=color:red;">Design review</h3>
	web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on R
	<br />
</div>
<div class="span-7 last">
	<h3 "style=color:red;">Spit and polish</h3>
	web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on R
	<br />
<div style="margin-top: 20px;"></div>
</div>
<div class="span-24 last">
	<p align="right"><%= link_to (image_tag 'read_more.png')%></p>
</div>
<hr>
<div class="span-24 last">
	<h2>nVariable is...</h2>
</div>
<div class="span-11 append-2">
	<%= image_tag 'mark.jpg'%>
	<br >
	<h3>Mark Turner</h3>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	<br />
</div>
<div class="span-11 last">

	<%= image_tag 'josh.jpg'%>
	<h3>Josh Sullivan</h3>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
</div>