<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>nVariable</title>
  <%= stylesheet_link_tag 'blueprint/screen', 'general'%>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<!--faux 3d css magic-->
<div id="grass">
<div id="owl">
<div id="grass2">
<!---->
<div class="container">
	<div class="span-18 last">
		<div class="header_links">
			<%= render :partial => 'layouts/main_links'%>
		</div>
	</div>
	<div class="span-5 prepend-1 last">
		<div class="logo">
			<%= link_to (image_tag 'nvariable_logo.png'), :controller => 'welcome' %>
		</div>
	</div>
	<div class="span-14 append-10 prepend-top last">
		<span class="header_text">
			We Make Software
		</span>
		<br />
		<span class="header_subtext">
			The kind that you <i>want</i> to use.
		</span>
		<div style="margin-top: 125px;">
			<%= link_to image_tag('getintouch.png')%>
		</div>
	</div>
	<%= yield  %>
	<%= render :partial => 'layouts/footer'%>
	
<!--end faux 3d css magic-->
</div>
</div>
</div>
<!---->
</div>
</body>
</html>
